body {
    --horrizontalOffset: 10px;
}

.wrapper {
    width: 80%;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}


/* Header & initial H styles */
header {
    padding: 50px var(--horrizontalOffset)
}

#logo img {
    float: left;
    max-height: calc(80px + 50px + 5px);
    padding-right: 40px;
}
h1, 
h2,
h3 {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 50px;
    padding: 5px 0 0;
}


/* Body Text */
#bodyText p {
    font-family: sofia-pro-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.3;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}


/* Gallery */
h3 {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}
#gallery {
    display: grid;
    /* --gridGap: 10px;
    --gridSize: calc((100% - (3 * var(--gridGap))) / 4 ); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px var(--horrizontalOffset);  
}
/* .gallery div {
    background-color: goldenrod;
} */
#gallery div img {
    max-width: 100%;
    max-height: 100%;
}