.wrapper {
    width: 65%;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}


/* Typography */
    /* Typeface */
h1, 
h2,
h3 {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h4 {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 300;
    font-style: normal;
}
p {
    font-family: sofia-pro-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.3;
}
    /* Font Size */
h1 {
    font-size: 3vw;
}
h2 {
    font-size: 1.9vw;
}
h3 {
    font-size: 1.7vw;
}
h4 {
    font-size: 1.4vw;
}
p {
    font-size: 1.4vw;
}


/* Header */
header {
    padding: 1.5vw 10px 5vw;
}
#logo img {
    float: left;
    max-height: calc(3vw + 1.9vw + 0.2vw);
    padding-right: 1.5vw;
}
header h2 {
    padding: 0.2vw 0 0;
}


/* Body Text */
#bodyText h3 {
    padding-left: 10px;
    padding-bottom: 0.1vw;
}
#bodyText p {
    padding: 0 10px 3vw;
}


/* Gallery */
#galleryHeading {
    padding-left: 10px;
    padding-bottom: 0.1vw;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding: 10px;  
}
.main_img {
    max-width: 100%;
    max-height: 100%;
}
/* based on https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent; /* fallback */
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 0;
    transition: 0.3s ease;
    pointer-events: none;
}
.overlay h3 {
    color: #FFF;
    position: absolute;
    left: 5%;
    bottom: 8%;
    font-size: 150%;
}
.galleryItem {
    position: relative;
    width: 100%;
}
.galleryItem:hover .overlay {
    height: 100%;
}


/* Modals */
.modal { 
    display: none;
    position: fixed;
    z-index: 1;
    padding: 0;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: transparent; /* fallback */
    background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
    background-color: #999;
    width: calc(55% - 20px);
    padding: calc(5% - 4vw) 5% 5%;
    margin: 5% auto;
}
.closeModal {
    float: right;
    margin: 0 -3.3vw 1vw calc(100% + 3.3vw);
    font-family: bc-alphapipe, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}
.closeModal:hover {
    color: #DDD;
}
.longTitle {
    display: inline-block;
}
.modalContent h3 {
    padding-bottom: 0.1vw;
}
.modalContent h4 {
    padding-bottom: 1vw;
}
.modalColumn img,
.modalColumn video {
    width: 100%;
}
/* based on https://www.w3schools.com/howto/howto_css_two_columns.asp */
.modalColumn {
    float: left;
    width: 48%;
    padding: 0 1% 2%;
}
.modalColumnDouble {
    width: 98%;
}
.modalContent:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .modalColumn {
        width: 100%;
        padding-bottom: 5vw;
    }
}